.prelements-blog-grid .pre-blog-item {
  overflow: visible;
  margin-bottom: 30px;
}
.prelements-blog-grid .pre-blog-item .pre-avatar-image img {
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-left {
  display: flex;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-left .pre-image-wrap {
  flex: 0 0 50%;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-left.rs__center {
  align-items: center;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-right {
  display: flex;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-right .pre-image-wrap {
  flex: 0 0 50%;
  order: 2;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-right .pre-blog-content {
  flex: 1;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-right.rs__center {
  align-items: center;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-meta-blocks .pre-blog-content .pre-blog-meta {
  display: block;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-meta-blocks .pre-blog-content .pre-blog-meta span {
  margin-bottom: 15px;
  display: block;
}
.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-meta-blocks .pre-blog-content .pre-blog-meta span.pre-date {
  margin-right: 0;
  margin-left: 0;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap {
  position: relative;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap img {
  transition: all 0.5s ease 0s;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .pre-cat-list {
  position: absolute;
  z-index: 111;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .pre-cat-list a {
  display: inline-block;
  padding: 3px 12px 2px;
  border-radius: 1px;
  color: #ffffff;
  background: #DA573A;
  transition: 0.4s;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 5px;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .pre-cat-list a:hover {
  opacity: 0.85;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .pre-cat-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .pre-cat-list ul li {
  display: inline-block;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .pre-cat-list ul li a {
  display: block;
  padding: 3px 12px 2px;
  border-radius: 0px;
  color: #ffffff;
  background: #DA573A;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .pre-cat-list ul li a:hover {
  opacity: 0.85;
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .video__post a {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 20px;
  z-index: 9;
  cursor: pointer;
  display: block;
  transform: translateY(-50%);
}
.prelements-blog-grid .pre-blog-item .pre-image-wrap .video__post a i:before {
  background: #fff;
  width: 75px;
  height: 75px;
  display: block;
  line-height: 75px;
  border-radius: 50%;
  padding-left: 2px;
}
.prelements-blog-grid .pre-blog-item.pre-blog-meta-style2 .pre-image-wrap {
  position: relative;
}
.prelements-blog-grid .pre-blog-item.pre-blog-meta-style2 .pre-image-wrap .pre-blog-meta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #DA573A;
  color: #fff;
  padding: 10px 25px 7px;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  transform-origin: 0 0;
  min-width: 140px;
  text-align: center;
  z-index: 1;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content {
  padding: 40px 35px 40px;
  box-shadow: 0 5px 20px rgba(34, 34, 34, 0.03);
  background: #fff;
  position: unset;
  opacity: 1;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content h3.pre-post-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 28px;
  line-height: 1.3;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content h3.pre-post-title a {
  text-decoration: none;
  color: #121933;
  display: inline;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left 100%;
  transition: all 0.7s;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content h3.pre-post-title a:hover {
  background-size: 100% 2px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-cat-list {
  z-index: 111;
  top: 0;
  left: 0;
  z-index: 10;
  position: relative;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-cat-list a {
  display: inline-block;
  padding: 3px 12px 2px;
  border-radius: 1px;
  color: #ffffff;
  background: #DA573A;
  transition: 0.4s;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 5px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-cat-list a:hover {
  opacity: 0.85;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-cat-list ul {
  margin: 0;
  padding: 0 0 25px;
  list-style: none;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-cat-list ul li {
  display: inline-block;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-cat-list ul li a {
  display: block;
  padding: 2px 12px 2px;
  border-radius: 0px;
  color: #ffffff;
  background: #DA573A;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-cat-list ul li a:hover {
  opacity: 0.85;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-blog-meta {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: capitalize;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-blog-meta .pre-date {
  margin-right: 20px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-blog-meta.pre-reverse-meta .pre-date {
  margin-left: 20px;
  margin-right: 0;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-blog-meta i {
  margin-right: 6px;
  font-size: 15px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-blog-meta i.fi-rr-calendar {
  position: relative;
  top: 1px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .pre-blog-meta svg {
  width: 15px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content p {
  margin: 0 0 15px;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part {
  margin: 15px 0 0;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part .blog-btn {
  position: relative;
  display: inline-block;
  color: #121933;
  transition: all ease 0.3s;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part .blog-btn i {
  transition: all ease 0.3s;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part .blog-btn:hover {
  color: #DA573A;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part .blog-btn.icon-after span {
  float: left;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part .blog-btn.icon-after i {
  margin-left: 10px;
  transition: 0.4s;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part .blog-btn.icon-before span {
  float: right;
}
.prelements-blog-grid .pre-blog-item .pre-blog-content .blog-btn-part .blog-btn.icon-before i {
  margin-right: 10px;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap {
  position: relative;
  overflow: hidden;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-image-wrap {
  position: relative;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-image-wrap img {
  transition: all 0.8s ease 0s;
  width: 100%;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-image-wrap:before {
  opacity: 0.6;
  background: transparent;
  background: linear-gradient(transparent, #000), linear-gradient(transparent, #000);
  background: -o-linear-gradient(transparent, #000), -o-linear-gradient(transparent, #000);
  content: "";
  height: 60%;
  bottom: -2px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  transition: all 0.7s ease 0s;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-blog-content {
  margin-bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: transparent;
  color: #ffffff;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-blog-content .pre-post-title a {
  color: #ffffff;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-blog-content .pre-post-title a:hover {
  color: #ffffff;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-blog-content .blog-btn-part .blog-btn {
  color: #ffffff;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap .pre-blog-content .blog-btn-part .blog-btn:hover {
  color: #DA573A;
}
.prelements-blog-grid .pre-blog-item.transparent .blog-inner-wrap:hover .pre-image-wrap img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.prelements-blog-grid .pre-blog-item:hover .pre-image-wrap .pre-pointer-events img {
  filter: grayscale(100%);
}
.prelements-blog-grid .pre-blog-item.icon_btn_style {
  position: relative;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style .pre-blog-content {
  position: relative;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style .pre-blog-content .btn-part {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style .pre-blog-content .btn-part a {
  font-size: 20px;
  padding: 10px;
  color: #ffffff;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style .pre-blog-content:after, .prelements-blog-grid .pre-blog-item.icon_btn_style .pre-blog-content:before {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style .pre-blog-content:before {
  width: 170px;
  height: 170px;
  border: 1px solid #f3f3f3;
  bottom: -125px;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style .pre-blog-content:after {
  background: #f3f3f3;
  width: 126px;
  height: 126px;
  bottom: -98px;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: #DA573A;
  transition: all 0.5s;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style:hover .img-part img {
  filter: grayscale(1);
}
.prelements-blog-grid .pre-blog-item.icon_btn_style:hover .content-part .btn-part {
  bottom: 0;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style:hover .content-part:before {
  width: 182px;
  height: 182px;
  border-color: #DA573A;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style:hover .content-part:after {
  width: 140px;
  height: 140px;
  background: #DA573A;
}
.prelements-blog-grid .pre-blog-item.icon_btn_style:hover:after {
  width: 100%;
}
.prelements-blog-grid .pre-blog-item.borders .pre-blog-content .pre-cat-list a {
  border-bottom: 2px solid;
  line-height: 1;
  background: none;
  padding: 0;
  font-size: 13px;
}
.prelements-blog-grid .prelements-pagination-area {
  padding-top: 0px;
  clear: both;
  text-align: center;
  margin-top: 20px;
}
.prelements-blog-grid .prelements-pagination-area .pagination {
  padding: 0;
  margin: 0;
}
.prelements-blog-grid .prelements-pagination-area .nav-links {
  display: inline-block;
  border: 1px solid #f9f9f9;
  padding: 11px 0px;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.prelements-blog-grid .prelements-pagination-area .nav-links span.current {
  padding: 2px 20px 0 21px;
  line-height: 23px;
  background: transparent;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  text-align: center;
  background: transparent;
  color: #DA573A;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #E6E6E6;
}
.prelements-blog-grid .prelements-pagination-area .nav-links > * {
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.prelements-blog-grid .prelements-pagination-area .nav-links a {
  padding: 2px 20px 0 14px;
  line-height: 23px;
  color: #303030;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  text-align: center;
  background: transparent;
  opacity: 0.96;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #E6E6E6;
}
.prelements-blog-grid .prelements-pagination-area .nav-links span.current,
.prelements-blog-grid .prelements-pagination-area .nav-links a:hover {
  color: #DA573A;
}
.prelements-blog-grid .prelements-pagination-area .nav-links a.next.page-numbers {
  background: none !important;
  border-right: 0;
}