.rs_button .rs_btn_icon {
  width: 38px;
  height: 38px;
  background-color: #292965;
  border-radius: 50%;
}
.rs_button .rs_btn_icon svg {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 10px;
  width: 16px;
  height: 16px;
}

.rs-view-btn a {
  color: #121933;
  position: relative;
  outline: none;
  font-weight: 600;
}
.rs-view-btn a:hover {
  color: #121933;
}
.rs-view-btn a:hover .rs-btn.rs-btnblack::before {
  width: 0;
  transition: all 0.4s ease;
}
.rs-view-btn a:hover .rs-btn.rs-btnblack .rs_btn__text {
  transform: translateX(2.15em);
  transition: transform 0.5s ease, width 1s ease;
}
.rs-view-btn a:hover .rs-btn.rs-btnblack .rs_btn__text::before {
  width: 100%;
  max-width: 100%;
  transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn a:hover .rs-btn.rs-btnblack .rs_btn__text::after {
  width: 100%;
  transition: width 0.15s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn a:hover .rs-btn.rs-btnblack .rs_btn__text span::before {
  left: 0;
  height: 100%;
  transition: height 0.15s 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn a:hover .rs-btn.rs-btnblack .rs_btn__text span::after {
  right: 0;
  height: 100%;
  transition: height 0.15s 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack .rs_btn__text {
  position: relative;
  padding: 14px 32px;
  line-height: 1.5;
  display: inline-block;
  transition: transform 0.5s ease;
}
.rs-view-btn .rs-btn.rs-btnblack .rs_btn__text span::before {
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  background-color: #333;
  transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  left: 0;
  bottom: 0;
  transition: height 0.15s 0 cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack .rs_btn__text span::after {
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  background-color: #333;
  transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  right: 0;
  top: 0;
  transition: height 0.15s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack .rs_btn__text::before {
  top: 0;
  left: 0;
  transition: width 0.15s 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #333;
}
.rs-view-btn .rs-btn.rs-btnblack .rs_btn__text::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #333;
  bottom: 0;
  right: 0;
  transition: width 0.15s 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack:hover::before {
  width: 0;
  transition: all 0.4s ease;
}
.rs-view-btn .rs-btn.rs-btnblack:hover .rs_btn__text {
  transform: translateX(2.15em);
  transition: transform 0.5s ease, width 1s ease;
}
.rs-view-btn .rs-btn.rs-btnblack:hover .rs_btn__text::before {
  width: 100%;
  max-width: 100%;
  transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack:hover .rs_btn__text::after {
  width: 100%;
  transition: width 0.15s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack:hover .rs_btn__text span::before {
  left: 0;
  height: 100%;
  transition: height 0.15s 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack:hover .rs_btn__text span::after {
  right: 0;
  height: 100%;
  transition: height 0.15s 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-view-btn .rs-btn.rs-btnblack::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -2.4em;
  height: 1px;
  width: 3em;
  background-color: #333;
  transition: all 0.25s ease;
}

.rs-btn.style5 .rs_button {
  position: relative;
}
.rs-btn.style5 .rs_button:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 30px;
  right: 15%;
  top: 13px;
  transition: 0.4s;
  z-index: 3;
  background: #930606;
}
.rs-btn.style5 .rs_button span {
  position: relative;
  z-index: 9;
}
.rs-btn.style5 .rs_button:hover:before {
  right: 65%;
}

.rs_button_style5 {
  position: relative;
}
.rs_button_style5:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 30px;
  right: 15%;
  top: 14px;
  transition: 0.4s;
  z-index: 30;
  background: #930606;
}
.rs_button_style5 span {
  position: relative;
  z-index: 31;
}
.rs_button_style5:hover:before {
  right: 65%;
}

.button-hover-shadow .rs-btn:hover .rs_button {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.button-hover-shadow .rs-btn:active .rs_button {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}