	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/01/2020 05:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon2.eot");
  src: url("../font/Flaticon2.eot") format("embedded-opentype"),
       url("../font/Flaticon2.woff2") format("woff2"),
       url("../font/Flaticon2.woff") format("woff"),
       url("../font/Flaticon2.ttf") format("truetype"),
       url("../font/Flaticon2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon2.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-spreadsheet:before { content: "\f100"; }
.flaticon-letter:before { content: "\f101"; }
.flaticon-files-and-folders:before { content: "\f102"; }
.flaticon-membership:before { content: "\f103"; }
.flaticon-grid:before { content: "\f104"; }
.flaticon-table:before { content: "\f105"; }
.flaticon-count:before { content: "\f106"; }
.flaticon-support:before { content: "\f107"; }
.flaticon-multimedia:before { content: "\f108"; }
.flaticon-price:before { content: "\f109"; }
.flaticon-slider:before { content: "\f10a"; }
.flaticon-menu:before { content: "\f10b"; }
.flaticon-behance:before { content: "\f10c"; }
.flaticon-error:before { content: "\f10d"; }
.flaticon-rate:before { content: "\f10e"; }
.flaticon-ballot-box:before { content: "\f10f"; }
.flaticon-shipping-and-delivery:before { content: "\f110"; }
.flaticon-one:before { content: "\f111"; }
.flaticon-info:before { content: "\f112"; }
.flaticon-growth:before { content: "\f113"; }
.flaticon-option:before { content: "\f114"; }
.flaticon-files-and-folders-1:before { content: "\f115"; }
.flaticon-attach:before { content: "\f116"; }
.flaticon-tabs-1:before { content: "\f117"; }
.flaticon-blogging:before { content: "\f118"; }
.flaticon-network:before { content: "\f119"; }
.flaticon-text-box:before { content: "\f11a"; }
.flaticon-shipping-and-delivery-1:before { content: "\f11b"; }
.flaticon-music-and-multimedia:before { content: "\f11c"; }
.flaticon-slideshow:before { content: "\f11d"; }
.flaticon-success:before { content: "\f11e"; }
.flaticon-progress:before { content: "\f11f"; }
.flaticon-tool-tip:before { content: "\f120"; }
.flaticon-shopping-cart:before { content: "\f121"; }
.flaticon-conversation:before { content: "\f122"; }
.flaticon-image:before { content: "\f123"; }
.flaticon-24-hours:before { content: "\f124"; }
.flaticon-form:before { content: "\f125"; }
.flaticon-countdown:before { content: "\f126"; }
.flaticon-table-for-data:before { content: "\f127"; }
.flaticon-slider-1:before { content: "\f128"; }
.flaticon-percentage:before { content: "\f129"; }
.flaticon-timeline:before { content: "\f12a"; }
.flaticon-slider-2:before { content: "\f12b"; }
.flaticon-slider-3:before { content: "\f12c"; }
.flaticon-instagram:before { content: "\f12d"; }
.flaticon-instagram-1:before { content: "\f12e"; }
.flaticon-facebook-logo:before { content: "\f12f"; }
.flaticon-twitter:before { content: "\f130"; }