@-webkit-keyframes rs-image-zoom-out-up {
  50% {
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateY(-150%);
    opacity: 0.5;
  }
}
@keyframes rs-image-zoom-out-up {
  50% {
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateY(-150%);
    opacity: 0.5;
  }
}
@-webkit-keyframes rs-image-zoom-out-down {
  50% {
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
@keyframes rs-image-zoom-out-down {
  50% {
    transform: scale(0.8) translateY(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateY(150%);
    opacity: 0.5;
  }
}
@-webkit-keyframes rs-image-zoom-out-left {
  50% {
    transform: scale(0.8) translateX(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateX(-150%);
    opacity: 0.5;
  }
}
@keyframes rs-image-zoom-out-left {
  50% {
    transform: scale(0.8) translateX(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateX(-150%);
    opacity: 0.5;
  }
}
@-webkit-keyframes rs-image-zoom-out-right {
  50% {
    transform: scale(0.8) translateX(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateX(150%);
    opacity: 0.5;
  }
}
@keyframes rs-image-zoom-out-right {
  50% {
    transform: scale(0.8) translateX(0%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateX(150%);
    opacity: 0.5;
  }
}
.rs-image-hover-effect {
  overflow: hidden;
  position: relative;
}
.rs-image-hover-effect .image-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  transition: 0.6s;
}
.rs-image-hover-effect .image-part {
  overflow: hidden;
  border-radius: 5px;
}
.rs-image-hover-effect .image-part img {
  border-radius: 0 5px 5px 0;
  transition: all 0.4s ease 0s;
}
.rs-image-hover-effect .image-content {
  color: #555;
  padding: 45px 20px 18px;
  transition: all 0.4s ease 0s;
  z-index: 2;
  position: relative;
}
.rs-image-hover-effect .image-content .icon-image {
  margin-bottom: 25px;
}
.rs-image-hover-effect .image-content .title-part .title-prefix {
  color: #333;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 22px;
  transition: 0.3s;
}
.rs-image-hover-effect .image-content .title-part .title-prefix:hover {
  opacity: 0.8;
}
.rs-image-hover-effect .image-content .description-part .description-text {
  margin-bottom: 30px;
}
.rs-image-hover-effect .image-content .button-part .image-btn {
  display: inline-block;
  color: #ffffff;
  background: #010d14;
  font-size: 16px;
  line-height: 1;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
}
.rs-image-hover-effect .image-content .button-part .image-btn:hover {
  background: #2b59ff;
}
.rs-image-hover-effect .image-content .button-part .image-btn:hover i {
  margin-left: 10px;
}
.rs-image-hover-effect .image-content .button-part .image-btn.icon-before span {
  float: right;
}
.rs-image-hover-effect .image-content .button-part .image-btn.icon-before i {
  position: absolute;
}
.rs-image-hover-effect .image-content .button-part .image-btn.icon-after span {
  float: left;
}
.rs-image-hover-effect .image-content .button-part .image-btn.icon-after i {
  margin-left: 10px;
}
.rs-image-hover-effect .hover_content {
  position: absolute;
  z-index: 11;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease 0s;
  padding: 40px 20px 40px;
}
.rs-image-hover-effect:hover .image-overlay {
  bottom: 0;
}
.rs-image-hover-effect:hover .normal_content {
  opacity: 0;
  visibility: hidden;
}
.rs-image-hover-effect:hover .hover_content {
  opacity: 1;
  visibility: visible;
}
.rs-image-hover-effect [class^=rs-image-fade] .image-content {
  opacity: 0;
}
.rs-image-hover-effect [class^=rs-image-fade]:hover .image-content {
  opacity: 1;
  transform: translate(0, 0);
}
.rs-image-hover-effect [class^=rs-image-fade]:hover .image-part img {
  transform: translate(0, 0);
}
.rs-image-hover-effect [class*="{rs-image-fade"] .image-content {
  opacity: 0;
}
.rs-image-hover-effect [class*="{rs-image-fade"]:hover .image-content {
  opacity: 1;
  transform: translate(0, 0);
}
.rs-image-hover-effect [class*="{rs-image-fade"]:hover .image-part img {
  transform: translate(0, 0);
}
.rs-image-hover-effect rs-image-push:hover .image-content {
  transform: translate(0, 0);
}
.rs-image-hover-effect rs-image-slide:hover .image-content {
  transform: translate(0, 0);
}
.rs-image-hover-effect rs-image-reveal:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
.rs-image-hover-effect rs-image-reveal .image-content {
  opacity: 0;
}
.rs-image-hover-effect rs-image-reveal:hover:before {
  transform: translate(0, 0);
}
.rs-image-hover-effect rs-image-reveal:hover .image-content {
  opacity: 1;
  transition-delay: 0.21s;
}
.rs-image-hover-effect rs-image-hinge {
  perspective: 50em;
}
.rs-image-hover-effect rs-image-hinge .image-content {
  opacity: 0;
  z-index: 1;
}
.rs-image-hover-effect rs-image-hinge:hover img {
  opacity: 0;
}
.rs-image-hover-effect rs-image-hinge:hover .image-content {
  opacity: 1;
  transition-delay: 0.21s;
}
.rs-image-hover-effect rs-image-flip {
  perspective: 50em;
}
.rs-image-hover-effect rs-image-flip img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.rs-image-hover-effect rs-image-flip .image-content {
  opacity: 0;
}
.rs-image-hover-effect rs-image-flip:hover .image-part img {
  opacity: 0;
}
.rs-image-hover-effect rs-image-flip:hover .image-content {
  opacity: 1;
  transition-delay: 0.14s;
}
.rs-image-hover-effect rs-image-shutter-out:before {
  position: absolute;
  content: "";
  transition-delay: 0.105s;
}
.rs-image-hover-effect rs-image-shutter-out .image-content {
  opacity: 0;
  transition-delay: 0s;
}
.rs-image-hover-effect rs-image-shutter-out:hover:before {
  transition-delay: 0s;
}
.rs-image-hover-effect rs-image-shutter-out:hover .image-content {
  opacity: 1;
  transition-delay: 0.105s;
}
.rs-image-hover-effect rs-image-shutter-in:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.rs-image-hover-effect rs-image-shutter-in:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
}
.rs-image-hover-effect rs-image-shutter-in .image-content {
  opacity: 0;
  z-index: 1;
}
.rs-image-hover-effect rs-image-shutter-in:hover .image-content {
  opacity: 1;
  transition-delay: 0.21s;
}
.rs-image-hover-effect rs-image-fold {
  perspective: 50em;
}
.rs-image-hover-effect rs-image-fold img {
  transform-origin: 50% 0%;
}
.rs-image-hover-effect rs-image-fold .image-content {
  z-index: 1;
  opacity: 0;
}
.rs-image-hover-effect rs-image-fold:hover .image-part img {
  opacity: 0;
  transition-delay: 0;
}
.rs-image-hover-effect rs-image-fold:hover .image-content {
  transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
  opacity: 1;
  transition-delay: 0.21s;
}
.rs-image-hover-effect rs-image-zoom-out .image-content {
  transform: scale(0.5);
  transform-origin: 50% 50%;
  opacity: 0;
}
.rs-image-hover-effect rs-image-zoom-out:hover .image-content {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}
rs-image-zoom-out .rs-image-hover-effect.hover .image-content {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}

.rs-image-fade-in-up .image-content {
  transform: translate(0, 15%);
}

.rs-image-fade-in-down .image-content {
  transform: translate(0, -15%);
}

.rs-image-fade-in-left .image-content {
  transform: translate(-15%, 0);
}

.rs-image-fade-in-right .image-content {
  transform: translate(15%, 0);
}

[class^=rs-image-push-]:hover .image-content {
  transform: translate(0, 0);
}

.rs-image-push-up .image-content {
  transform: translateY(100%);
}
.rs-image-push-up:hover .image-part img {
  transform: translateY(-100%);
}

.rs-image-push-down .image-content {
  transform: translateY(-100%);
}
.rs-image-push-down:hover .image-part img {
  transform: translateY(100%);
}

.rs-image-push-left .image-content {
  transform: translateX(100%);
}
.rs-image-push-left:hover .image-part img {
  transform: translateX(-100%);
}

.rs-image-push-right .image-content {
  transform: translateX(-100%);
}
.rs-image-push-right:hover .image-part img {
  transform: translateX(100%);
}

[class^=rs-image-slide-]:hover .image-content {
  transform: translate(0, 0);
}

.rs-image-slide-up .image-content {
  transform: translateY(100%);
}

.rs-image-slide-down .image-content {
  transform: translateY(-100%);
}

.rs-image-slide-left .image-content {
  transform: translateX(100%);
}

.rs-image-slide-right .image-content {
  transform: translateX(-100%);
}

[class^=rs-image-reveal-]:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
[class^=rs-image-reveal-] .image-content {
  opacity: 0;
}
[class^=rs-image-reveal-]:hover:before {
  transform: translate(0, 0);
}
[class^=rs-image-reveal-]:hover .image-content {
  opacity: 1;
  transition-delay: 0.21s;
}

.rs-image-reveal-up:before {
  transform: translateY(100%);
}

.rs-image-reveal-down:before {
  transform: translateY(-100%);
}

.rs-image-reveal-left:before {
  transform: translateX(100%);
}

.rs-image-reveal-right:before {
  transform: translateX(-100%);
}

[class^=rs-image-hinge-] {
  perspective: 50em;
}
[class^=rs-image-hinge-] .image-content {
  opacity: 0;
  z-index: 1;
}
[class^=rs-image-hinge-]:hover img {
  opacity: 0;
}
[class^=rs-image-hinge-]:hover .image-content {
  opacity: 1;
  transition-delay: 0.21s;
}

.rs-image-hinge-up img {
  transform-origin: 50% 0%;
}
.rs-image-hinge-up .image-content {
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
}
.rs-image-hinge-up:hover .image-part img {
  transform: rotateX(-90deg);
}
.rs-image-hinge-up:hover .image-content {
  transform: rotateX(0);
}

.rs-image-hinge-down img {
  transform-origin: 50% 100%;
}
.rs-image-hinge-down .image-content {
  transform: rotateX(-90deg);
  transform-origin: 50% -50%;
}
.rs-image-hinge-down:hover .image-part img {
  transform: rotateX(90deg);
  opacity: 0;
}
.rs-image-hinge-down:hover .image-content {
  transform: rotateX(0);
}

.rs-image-hinge-left img {
  transform-origin: 0% 50%;
}
.rs-image-hinge-left .image-content {
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
}
.rs-image-hinge-left:hover .image-part img {
  transform: rotateY(90deg);
}
.rs-image-hinge-left:hover .image-content {
  transform: rotateY(0);
}

.rs-image-hinge-right img {
  transform-origin: 100% 50%;
}
.rs-image-hinge-right .image-content {
  transform: rotateY(90deg);
  transform-origin: 0 50%;
}
.rs-image-hinge-right:hover .image-part img {
  transform: rotateY(-90deg);
}
.rs-image-hinge-right:hover .image-content {
  transform: rotateY(0);
}

[class^=rs-image-flip-] {
  perspective: 50em;
}
[class^=rs-image-flip-] img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
[class^=rs-image-flip-] .image-content {
  opacity: 0;
}
[class^=rs-image-flip-]:hover .image-part img {
  opacity: 0;
}
[class^=rs-image-flip-]:hover .image-content {
  opacity: 1;
  transition-delay: 0.14s;
}

.rs-image-flip-horiz .image-content {
  transform: rotateX(90deg);
  transform-origin: 0% 50%;
}
.rs-image-flip-horiz:hover img {
  transform: rotateX(-180deg);
}
.rs-image-flip-horiz:hover .image-content {
  transform: rotateX(0deg);
}

.rs-image-flip-vert .image-content {
  transform: rotateY(90deg);
  transform-origin: 50% 0%;
}
.rs-image-flip-vert:hover .image-part img {
  transform: rotateY(-180deg);
}
.rs-image-flip-vert:hover .image-content {
  transform: rotateY(0deg);
}

.rs-image-flip-diag-1 .image-content {
  transform: rotate3d(1, -1, 0, 100deg);
}
.rs-image-flip-diag-1:hover .image-part img {
  transform: rotate3d(-1, 1, 0, 100deg);
}
.rs-image-flip-diag-1:hover .image-content {
  transform: rotate3d(0, 0, 0, 0deg);
}

.rs-image-flip-diag-2 .image-content {
  transform: rotate3d(1, 1, 0, 100deg);
}
.rs-image-flip-diag-2:hover .image-part img {
  transform: rotate3d(-1, -1, 0, 100deg);
}
.rs-image-flip-diag-2:hover .image-content {
  transform: rotate3d(0, 0, 0, 0deg);
}

[class^=rs-image-shutter-out-]:before {
  position: absolute;
  content: "";
  transition-delay: 0.105s;
}
[class^=rs-image-shutter-out-] .image-content {
  opacity: 0;
  transition-delay: 0s;
}
[class^=rs-image-shutter-out-]:hover:before {
  transition-delay: 0s;
}
[class^=rs-image-shutter-out-]:hover .image-content {
  opacity: 1;
  transition-delay: 0.105s;
}

.rs-image-shutter-out-horiz:before {
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
}
.rs-image-shutter-out-horiz:hover:before {
  left: 0;
  right: 0;
}

.rs-image-shutter-out-vert:before {
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
}
.rs-image-shutter-out-vert:hover:before {
  top: 0;
  bottom: 0;
}

.rs-image-shutter-out-diag-1:before {
  top: 50%;
  bottom: 50%;
  left: -35%;
  right: -35%;
  transform: rotate(45deg);
}
.rs-image-shutter-out-diag-1:hover:before {
  top: -35%;
  bottom: -35%;
}

.rs-image-shutter-out-diag-2:before {
  top: 50%;
  bottom: 50%;
  left: -35%;
  right: -35%;
  transform: rotate(-45deg);
}
.rs-image-shutter-out-diag-2:hover:before {
  top: -35%;
  bottom: -35%;
}

[class^=rs-image-shutter-in-]:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
[class^=rs-image-shutter-in-]:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
}
[class^=rs-image-shutter-in-] .image-content {
  opacity: 0;
  z-index: 1;
}
[class^=rs-image-shutter-in-]:hover .image-content {
  opacity: 1;
  transition-delay: 0.21s;
}

.rs-image-shutter-in-horiz:after {
  width: 0;
  height: 100%;
}
.rs-image-shutter-in-horiz:before {
  width: 0;
  height: 100%;
}
.rs-image-shutter-in-horiz:hover:after {
  width: 50%;
}
.rs-image-shutter-in-horiz:hover:before {
  width: 50%;
}

.rs-image-shutter-in-vert:after {
  height: 0;
  width: 100%;
}
.rs-image-shutter-in-vert:before {
  height: 0;
  width: 100%;
}
.rs-image-shutter-in-vert:hover:after {
  height: 50%;
}
.rs-image-shutter-in-vert:hover:before {
  height: 50%;
}

.rs-image-shutter-in-out-horiz:after {
  width: 0;
  height: 100%;
  opacity: 0.75;
}
.rs-image-shutter-in-out-horiz:before {
  width: 0;
  height: 100%;
  opacity: 0.75;
}
.rs-image-shutter-in-out-horiz:hover:after {
  width: 100%;
}
.rs-image-shutter-in-out-horiz:hover:before {
  width: 100%;
}

.rs-image-shutter-in-out-vert:after {
  height: 0;
  width: 100%;
  opacity: 0.75;
}
.rs-image-shutter-in-out-vert:before {
  height: 0;
  width: 100%;
  opacity: 0.75;
}
.rs-image-shutter-in-out-vert:hover:after {
  height: 100%;
}
.rs-image-shutter-in-out-vert:hover:before {
  height: 100%;
}

.rs-image-shutter-in-out-diag-1:after {
  width: 200%;
  height: 200%;
  transition: all 0.6s ease;
  opacity: 0.75;
  transform: skew(-45deg) translateX(-150%);
}
.rs-image-shutter-in-out-diag-1:before {
  width: 200%;
  height: 200%;
  transition: all 0.6s ease;
  opacity: 0.75;
  transform: skew(-45deg) translateX(150%);
}
.rs-image-shutter-in-out-diag-1:hover:after {
  transform: skew(-45deg) translateX(-50%);
}
.rs-image-shutter-in-out-diag-1:hover:before {
  transform: skew(-45deg) translateX(50%);
}

.rs-image-shutter-in-out-diag-2:after {
  width: 200%;
  height: 200%;
  transition: all 0.6s ease;
  opacity: 0.75;
  transform: skew(45deg) translateX(-100%);
}
.rs-image-shutter-in-out-diag-2:before {
  width: 200%;
  height: 200%;
  transition: all 0.6s ease;
  opacity: 0.75;
  transform: skew(45deg) translateX(100%);
}
.rs-image-shutter-in-out-diag-2:hover:after {
  transform: skew(45deg) translateX(0%);
}
.rs-image-shutter-in-out-diag-2:hover:before {
  transform: skew(45deg) translateX(0%);
}

[class^=rs-image-fold] {
  perspective: 50em;
}
[class^=rs-image-fold] img {
  transform-origin: 50% 0%;
}
[class^=rs-image-fold] .image-content {
  z-index: 1;
  opacity: 0;
}
[class^=rs-image-fold]:hover .image-part img {
  opacity: 0;
  transition-delay: 0;
}
[class^=rs-image-fold]:hover .image-content {
  transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
  opacity: 1;
  transition-delay: 0.21s;
}

.rs-image-fold-up .image-part img {
  transform-origin: 50% 0%;
}
.rs-image-fold-up .image-content {
  transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
  transform-origin: 50% 100%;
}
.rs-image-fold-up:hover .image-part img {
  transform: rotateX(90deg) scale(0.6) translateY(50%);
}

.rs-image-fold-down .image-part img {
  transform-origin: 50% 100%;
}
.rs-image-fold-down .image-content {
  transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
  transform-origin: 50% 0%;
}
.rs-image-fold-down:hover .image-part img {
  transform: rotateX(-90deg) scale(0.6) translateY(-50%);
}

.rs-image-fold-left .image-part img {
  transform-origin: 0% 50%;
}
.rs-image-fold-left .image-content {
  transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
  transform-origin: 100% 50%;
}
.rs-image-fold-left:hover .image-part img {
  transform: rotateY(-90deg) scale(0.6) translateX(50%);
}

.rs-image-fold-right .image-part img {
  transform-origin: 100% 50%;
}
.rs-image-fold-right .image-content {
  transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
  transform-origin: 0 50%;
}
.rs-image-fold-right:hover .image-part img {
  transform: rotateY(90deg) scale(0.6) translateX(-50%);
}

.rs-image-zoom-in .image-content {
  opacity: 0;
  transform: scale(0.5);
}
.rs-image-zoom-in:hover .image-content {
  transform: scale(1);
  opacity: 1;
}

[class^=rs-image-zoom-out] .image-content {
  transform: scale(0.5);
  transform-origin: 50% 50%;
  opacity: 0;
}
[class^=rs-image-zoom-out]:hover .image-content {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}

[class^=rs-image-zoom-out].hover .image-content {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}

.rs-image-zoom-out:hover .image-part img {
  transform: scale(0.5);
  opacity: 0;
}

.rs-image-zoom-out-up:hover .image-part img {
  -webkit-animation: rs-image-zoom-out-up 0.4025s linear;
  animation: rs-image-zoom-out-up 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-up.hover .image-part img {
  -webkit-animation: rs-image-zoom-out-up 0.4025s linear;
  animation: rs-image-zoom-out-up 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-down:hover .image-part img {
  -webkit-animation: rs-image-zoom-out-down 0.4025s linear;
  animation: rs-image-zoom-out-down 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-down.hover .image-part img {
  -webkit-animation: rs-image-zoom-out-down 0.4025s linear;
  animation: rs-image-zoom-out-down 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-left:hover .image-part img {
  -webkit-animation: rs-image-zoom-out-left 0.4025s linear;
  animation: rs-image-zoom-out-left 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-left.hover .image-part img {
  -webkit-animation: rs-image-zoom-out-left 0.4025s linear;
  animation: rs-image-zoom-out-left 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-right:hover .image-part img {
  -webkit-animation: rs-image-zoom-out-right 0.4025s linear;
  animation: rs-image-zoom-out-right 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-right.hover .image-part img {
  -webkit-animation: rs-image-zoom-out-right 0.4025s linear;
  animation: rs-image-zoom-out-right 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rs-image-zoom-out-flip-horiz {
  perspective: 50em;
}
.rs-image-zoom-out-flip-horiz .image-content {
  opacity: 0;
  transform: rotateX(90deg) translateY(-100%) scale(0.5);
}
.rs-image-zoom-out-flip-horiz:hover .image-part img {
  transform: rotateX(-100deg) translateY(50%) scale(0.5);
  opacity: 0;
  transition-delay: 0;
}
.rs-image-zoom-out-flip-horiz:hover .image-content {
  transform: rotateX(0) translateY(0%) scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}

.rs-image-zoom-out-flip-horiz.hover .image-part img {
  transform: rotateX(-100deg) translateY(50%) scale(0.5);
  opacity: 0;
  transition-delay: 0;
}
.rs-image-zoom-out-flip-horiz.hover .image-content {
  transform: rotateX(0) translateY(0%) scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}

.rs-image-zoom-out-flip-vert {
  perspective: 50em;
}
.rs-image-zoom-out-flip-vert .image-content {
  opacity: 0;
  transform: rotateY(90deg) translate(50%, 0) scale(0.5);
}
.rs-image-zoom-out-flip-vert:hover .image-part img {
  transform: rotateY(-100deg) translateX(50%) scale(0.5);
  opacity: 0;
  transition-delay: 0;
}
.rs-image-zoom-out-flip-vert:hover .image-content {
  transform: rotateY(0) translate(0, 0) scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}

.rs-image-zoom-out-flip-vert.hover .image-part img {
  transform: rotateY(-100deg) translateX(50%) scale(0.5);
  opacity: 0;
  transition-delay: 0;
}
.rs-image-zoom-out-flip-vert.hover .image-content {
  transform: rotateY(0) translate(0, 0) scale(1);
  opacity: 1;
  transition-delay: 0.35s;
}

.rs-image-blur .image-content {
  opacity: 0;
}
.rs-image-blur:hover .image-part img {
  filter: blur(30px);
  transform: scale(1.2);
  opacity: 0;
}
.rs-image-blur:hover .image-content {
  opacity: 1;
  transition-delay: 0.21s;
}

.rs-image-move-left .image-part img {
  transform: scale(1.1);
  transform-origin: left;
}
.rs-image-move-left:hover .image-part img {
  transform-origin: right;
}

.rs-image-move-right .image-part img {
  transform: scale(1.1);
  transform-origin: right;
}
.rs-image-move-right:hover .image-part img {
  transform-origin: left;
}

.rs-image-move-top .image-part img {
  transform: scale(1.1);
  transform-origin: top;
}
.rs-image-move-top:hover .image-part img {
  transform-origin: bottom;
}

.rs-image-move-bottom .image-part img {
  transform: scale(1.1);
  transform-origin: bottom;
}
.rs-image-move-bottom:hover .image-part img {
  transform-origin: top;
}

.rs-image-top-down .image-part {
  max-height: 400px;
  transition: 3s;
}
.rs-image-top-down .image-part img {
  margin: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  vertical-align: bottom;
  transition: 3s;
}
.rs-image-top-down:hover .image-part {
  padding-top: 400px;
}
.rs-image-top-down:hover .image-part img {
  transform: translateY(-100%);
}